html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.3px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

footer .footer {
  text-align: center;
  padding: 0px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
